{% extends 'base.html.twig' %}

{% block title %}geo point dual form{% endblock %}

{% block body %}
    <h1>geo point dual form</h1>

    <div class="form-group form-control col-md-8">
        <p>
        <h3>Use the dot or comma for floating point numbers.</h3>
        </p>
        {{ form_start(dualForm) }}
        {{ form_widget(dualForm) }}

        <br/>
        <button type="submit" class="btn btn-primary">
            go !
        </button>
        {{ form_end(dualForm) }}
    </div>

    {% if meters is not null %}
        <p class="border border-light rounded col-md-8">Distance in meters: {{ meters }} </p>
    {% endif %}
    {% if kilometers is not null %}
        <p class="border border-light rounded col-md-8">Distance in kilometers: {{ kilometers }} </p>
    {% endif %}

{% endblock %}